<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}{{ this.title }} | Isaac Teh{% endblock %}</title>
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url('assets/css/styles.css') }}">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                {% block header %}
                    {% include "@theme/_includes/header.html.twig" %}
                {% endblock %}
            </header>

            {% block root %}{% endblock %}

            {% block footer %}
                {% include "@theme/_includes/footer.html.twig" %}

            {% endblock %}
        </div>

        <script src="{{ url('/assets/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ url('/assets/popper.min.js') }}"></script>
        <script src="{{ url('/assets/bootstrap.min.js') }}"></script>

        {% block javascript %}{% endblock %}
    </body>
</html>
